/*header*/
header {
    text-align: center;
    background: aliceblue;
    background-image: url("../img/índice.jpeg");
    background-repeat:repeat-x;
}
/*main*/
main {
    margin: 80px;
}

/*title*/
h1 {
    /*background-color:orange;*/
    color: cornsilk;

    }

/*subtitle*/
h2 {
        background-color:steelblue;
        color: cornsilk;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

/*elements*/
li {

        font-family: fantasy;

    }

/*hpv*/
.sobre-mi {
        color: white;
    }

/*footer*/
footer {
        background-color:steelblue;
        text-align: center;
        height: 190px;
    }
/*content footer*/
small {
        color: white;
        font-size: 14px;
    }

/*container*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
   
  }

/*button inside container*/
button {
        background-color: yellow;
        height: 40px;
        border-radius: 5px;
   }
/*footer*/
footer {
        background-color:steelblue;
        text-align: center;
        height: 190px;
    }
/*icon inside footer*/
i {
        font-size: 40px; 
        margin-top: 10px;
    }