
header {
    text-align: center;
    background: aliceblue;
    background-image: url("../img/índice.jpeg");
    background-repeat:repeat-x;
}

main {
    margin: 80px;
}
h1 {
    /*background-color:orange;*/
    color: cornsilk;

    }

    h2 {
        background-color:steelblue;
        color: cornsilk;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    li {

        font-family: fantasy;

    }

    .sobre-mi {
        color: white;
    }


    footer {
        background-color:steelblue;
        text-align: center;
        height: 190px;
    }

    small {
        color: white;
        font-size: 14px;
    }

   button {
        background-color: yellow;
        height: 40px;
        border-radius: 5px;
   }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
       
      }

      footer {
        background-color:steelblue;
        text-align: center;
        height: 190px;
    }
    i {
        font-size: 40px; 
        margin-top: 10px;
    }